.images {
    white-space: nowrap;
}

picture {
    width: 500px;
    display: inline-block;
    position: relative;
    height: 0;
    padding-bottom: 33.333%;
    background-color: red;
}

picture:nth-child(4) {
    clear: both;
}

img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
